<div>
    <nav class="navbar navbar-expand-lg navbar-light px-5  mx-lg-5">
        <div class="d-flex flex-grow-1">

            <a class="navbar-brand" [routerLink]="['/']">
                <img src="../../assets/Logo_Build-A-Gift-Store.png" width="400" height="100" class="d-inline-block align-top img-fluid" alt="">
                <!-- Build-A-Gift-Store -->
            </a>
            <div class="w-100 text-right">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
                                                <span class="navbar-toggler-icon"></span>
                                            </button>
            </div>
        </div>
        <div class="collapse navbar-collapse flex-grow-1 text-right  mx-lg-5" id="myNavbar">
            <ul class="navbar-nav ml-auto flex-nowrap ">
                <li class="nav-item mx-2">
                    <a class="nav-link" [routerLink]="['/registration']">Build My Store</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" [routerLink]="['/faq']">FAQ</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" [routerLink]="['/about-us']">About Us</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" [routerLink]="['/contact-us']">Contact Us</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" [routerLink]="['/sign-in']">Sign In</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div class="container-fluid">
    <!-- <div class="progress">
                        <div class="progress-bar {{progressbar}} progress-bar-animated" role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" [style.width]="progress+'%'"></div>
                    </div> -->
    <div class="row text-center d-md-flex py-5 bgroundstyle align-middle ">
        <div class="col">
            <h1 class="text-white">Reset Password</h1>
        </div>
    </div>
</div>
<div class="row justify-content-md-center">
    <div class="col-md-4 mt-5">
        <!-- <img class="user-avatar" src="assets/images/Artboard-1.png" width="250px" class="user-avatar1" /> -->

        <form #resetForm="ngForm" (ngSubmit)="resetPassword(resetForm.value)" autocomplete="off">
            <div class="form-content">

                <div ngModelGroup="password" #userPassword="ngModelGroup" required>
                    <div class="form-group">

                        <input type="password" [(ngModel)]="model.password" name="password" class="form-control input-underline input-lg" id="inputPassword" placeholder="Password" minlength="8" required>
                    </div>

                    <div class="form-group">

                        <input type="password" class="form-control input-underline input-lg" [(ngModel)]="model.password2" name="password2" id="confirmPassword" placeholder="Confirm Password">
                    </div>


                    <div *ngIf="(userPassword.invalid|| userPassword.value?.password != userPassword.value?.password2) && (userPassword.touched)" class="alert alert-danger">

                        <div *ngIf="userPassword.invalid; else nomatch">
                            Password needs to be more than 8 characters
                        </div>
                        <ng-template #nomatch>
                            Passwords don't match
                        </ng-template>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button class=" border-light basbtn text-uppercase" type="submit" [disabled]="!resetForm.form.valid"> Reset Password </button>&nbsp;
            </div>

            <!--<a class="btn rounded-btn" [routerLink]="['/login']"> Log in </a> -->
        </form>
    </div>
</div>