<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">{{storename||'Store Name'}}</a>
            <!-- <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button> -->
            <!-- <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">Portfolio</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Contact</a>
          </li>
        </ul>
      </div> -->
        </div>
    </nav>

    <!-- Masthead -->
    <header class="masthead bg-primary text-white text-center" [style.backgroundImage]="'url('+ bannerimage +')'" style="background-size: cover;background-repeat: no-repeat;">
        <div class="container d-flex align-items-center flex-column">

            <!-- Masthead Avatar Image -->
            <img class="masthead-avatar mb-5" src="img/avataaars.svg" alt="">

            <!-- Masthead Heading -->
            <h1 class="masthead-heading text-uppercase mb-0">{{bannerheading||'Banner Heading'}}</h1>

            <!-- Icon Divider -->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>

            <!-- Masthead Subheading -->
            <p class="masthead-subheading font-weight-light mb-0">{{bannerdesc||'Banner Description'}}</p>

        </div>
    </header>

    <!-- Portfolio Section -->
    <section class="page-section portfolio" id="portfolio">
        <div class="container">

            <!-- Portfolio Section Heading -->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Products</h2>

            <!-- Icon Divider -->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>

            <!-- Portfolio Grid Items -->
            <div class="row">

                <!-- Portfolio Item 1 -->
                <div *ngFor="let item of uniqueprods" class="col-md-6 col-lg-4">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" [src]="'https://securedgear.com/sites/997/products/997_' +item.ProductID+'_'+item.ImageFile" alt="">
                        <div class="text-center">
                            <h2 class="item-title-fluid"><a href="#">{{item.ProductName|titlecase}}</a></h2>
                            <!-- <strong class="item-price">{{item.Price|currency}}</strong> -->
                        </div>

                    </div>
                </div>
            </div>
            <!-- /.row -->

        </div>
    </section>


    <!-- Checkout Section -->
    <!-- <section *ngIf="checkout && !successful" class="page-section portfolio bg-primary text-white mt-1">
      <div class="container">
  
        <h2 class="page-section-heading text-center text-uppercase text-white mb-0">Checkout</h2>
  
        <div class="divider-custom divider-light">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon">
            <i class="fas fa-star"></i>
          </div>
          <div class="divider-custom-line"></div>
        </div>
  
        <div class="container">
            <table id="cart" class="table table-hover table-condensed">
                      <thead>
                      <tr>
                        <th>Product</th>                      
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td data-th="Product">
                          <div class="row">
                            <div class="col-sm-2 hidden-xs"><img style="max-width: 7rem;" [src]="'https://securedgear.com/sites/997/products/997_' +pselect.ProductID+'_'+pselect.ImageFile" alt="..." class="img-responsive"/></div>
                            <div class="col-sm-8">
                              <h4 class="nomargin">{{pselect.ProductName|titlecase}}</h4>
                              <p>{{pselect.ProductDesc1}}</p>
                            </div>
                          </div>
                        </td>                       
                      </tr>
                    </tbody>                    
                  </table>
          </div>
          
      </div>
    </section> -->

    <!-- <section *ngIf="checkout && !successful" class="page-section">
        <div class="container">
    
 
          <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Shipping Address</h2>
    
      
          <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
              <i class="fas fa-star"></i>
            </div>
            <div class="divider-custom-line"></div>
          </div>   

          <div class="row">
              <div *ngFor="let address of addresses; let i = index" class="col-sm-4">
                <div class="card text-center">
                    <div class="card-body {{successclass[i]}}">
                        <h5 class="card-title">{{address.addressname|titlecase}}</h5>
                        <p class="card-text">{{address.streetaddress|titlecase}} {{address.streetaddress2|titlecase}}</p>
                        <p class="card-text">{{address.city|titlecase}},{{address.state|titlecase}},{{address.zip}}</p>
                        <button  class="btn btn-primary"(click)="adselect(i,address)">Select</button>
                        <button *ngIf="!address.streetaddressID" (click)="this.addresses.splice(i, 1); hideaddaddress=false;" class="btn btn-secondary">Delete</button>
                      </div>
                </div>
              </div>
              <div *ngIf="empaddress" class="col-sm-4 align-self-center">
                  <div *ngIf="!showshipping && !hideaddaddress">
                      <button class="btn btn-primary" (click)="showshipping=true;" type="button">Add own Shipping</button>
                  </div>
                </div>
            </div>

            <div *ngIf="finalcheckout" class="mt-4 text-center">
               <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                <button class="btn btn-primary" (click)="finalcheckouts()" type="button">Confirm and Place Order</button>
            </div>

            <div *ngIf="empaddress">
              <div *ngIf="showshipping">
                <div [formGroup]="address" class="form-row col-sm-6 mt-4" >
                    <div class="form-group col-6">
                        <label>Address Name</label>
                        <input type="text" formControlName="addressname" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && address.controls.addressname.errors }" />
                        <div *ngIf="submitted && address.controls.addressname.errors" class="invalid-feedback">
                            <div *ngIf="address.controls.addressname.errors.required">Address Name is required
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-6">
                        <label>Street Address</label>
                        <input type="text" formControlName="streetaddress" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && address.controls.streetaddress.errors }" />
                        <div *ngIf="submitted && address.controls.streetaddress.errors"
                            class="invalid-feedback">
                            <div *ngIf="address.controls.streetaddress.errors.required">Street Address is
                                required</div>
                        </div>
                    </div>
                    <div class="form-group col-6">
                        <label>Street Address 2</label>
                        <input type="text" formControlName="streetaddress2" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && address.controls.streetaddress2.errors }" />
                    </div>
                    <div class="form-group col-6">
                        <label>City</label>
                        <input type="text" formControlName="city" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && address.controls.city.errors }" />
                        <div *ngIf="submitted && address.controls.city.errors" class="invalid-feedback">
                            <div *ngIf="address.controls.city.errors.required">City is required</div>
                        </div>
                    </div>
                    <div class="form-group col-6">
                        <label>State</label>
                        <input type="text" formControlName="state" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && address.controls.state.errors }" />
                        <div *ngIf="submitted && address.controls.state.errors" class="invalid-feedback">
                            <div *ngIf="address.controls.state.errors.required">State is required</div>
                        </div>
                    </div>
                    <div class="form-group col-6">
                        <label>Zip Code</label>
                        <input type="number" formControlName="zip" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && address.controls.zip.errors }" />
                        <div *ngIf="submitted && address.controls.zip.errors" class="invalid-feedback">
                            <div *ngIf="address.controls.zip.errors.required">Zip Code is required</div>
                            <div *ngIf="address.controls.zip.errors.pattern">Invalid Zip</div>
                        </div>
                    </div>
                    <button class="btn btn-primary" (click)=" onSubmit()" type="button">Add</button>

                    <button class="btn btn-secondary"  (click)="showshipping=false" type="button">Cancel</button>

                </div>
              </div>
            </div>    
        </div>
      </section> -->

    <!-- <section *ngIf="successful" class="page-section">
      <div class="container">
          <div class="row text-center">
                <div class="mx-auto">
                <h2 style="color:#0fad00">Success</h2>
                <img src="https://www.kernelios.com/wp-content/uploads/2018/07/successgif.gif">
                <h3>Your Order has been placed.</h3>
                <p>You will recieve an email with your order details.</p>
                <button class="btn btn-success" [routerLink]="[storeurl]" (click)="removestoreid()"> Log Out </button>                 
           </div>
          </div>
        </div>
      </section> -->

    <!-- Footer -->
    <footer class="footer text-center">
        <div class="container">
            <div class="row">

                <!-- Footer Location -->
                <!-- <div class="col-lg-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Location</h4>
          <p class="lead mb-0">920 Industrial Drive,
            <br>West Salem, WI 54669</p>
        </div> -->

                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Information</h4>
                    <p class="lead mb-0">{{reason}}</p>
                </div>

                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Links</h4>
                    <p class="lead mb-0">Terms & Condtions</p>
                    <p class="lead mb-0">Privacy Policy</p>
                </div>

                <!-- Footer Social Icons -->
                <!-- <div class="col-lg-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Social Links</h4>
          <a class="btn btn-outline-light btn-social mx-1" href="#">
            <i class="fab fa-fw fa-facebook-f"></i>
          </a>
          <a class="btn btn-outline-light btn-social mx-1" href="#">
            <i class="fab fa-fw fa-twitter"></i>
          </a>
          <a class="btn btn-outline-light btn-social mx-1" href="#">
            <i class="fab fa-fw fa-linkedin-in"></i>
          </a>
          <a class="btn btn-outline-light btn-social mx-1" href="#">
            <i class="fab fa-fw fa-dribbble"></i>
          </a>
        </div> -->

                <!-- Footer About Text -->
                <!-- <div class="col-lg-4">
          <h4 class="text-uppercase mb-4">About Freelancer</h4>
          <p class="lead mb-0">Freelance is a free to use, MIT licensed Bootstrap theme created by
            <a href="http://startbootstrap.com">Start Bootstrap</a>.</p>
        </div> -->

            </div>
        </div>
    </footer>

    <!-- Copyright Section -->
    <section class="copyright py-4 text-center text-white">
        <div class="container">
            <small>Copyright &copy; {{storename||'Store Name'}} 2019</small>
        </div>
    </section>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-to-top d-lg-none position-fixed ">
        <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- Portfolio Modals -->

    <!-- Portfolio Modal 1 -->
    <ng-template #content let-modal>
        <div class="modal-header">
            <button type="button" class="close" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
        </div>
        <div class="modal-body text-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <!-- Portfolio Modal - Title -->
                        <!-- Icon Divider -->
                        <div class="divider-custom">
                            <div class="divider-custom-line"></div>
                            <div class="divider-custom-icon">
                                <i class="fas fa-star"></i>
                            </div>
                            <div class="divider-custom-line"></div>
                        </div>
                        <div class="d-flex justify-content-center">

                            <!-- <div *ngFor="let product of products" >
               
                <img class="img-fluid rounded w-75" [src]="'https://securedgear.com/sites/997/products/997_' +product.ProductID+'_'+product.ImageFile" alt="">
                <br><button class="btn btn-primary" > Add </button>
                </div> -->
                        </div>
                        <!-- Portfolio Modal - Text -->

                    </div>
                </div>
            </div>
        </div>
    </ng-template>


</body>