<body>

    <div>
        <nav class="navbar navbar-expand-lg navbar-light px-5  mx-lg-5">
            <div class="d-flex flex-grow-1">

                <a class="navbar-brand" href="#">
                    <img src="../../assets/Logo_Build-A-Gift-Store.png" width="400" height="100" class="d-inline-block align-top img-fluid" alt="">
                    <!-- Build-A-Gift-Store -->
                </a>
                <div class="w-100 text-right">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
                                                        <span class="navbar-toggler-icon"></span>
                                                    </button>
                </div>
            </div>
            <div class="collapse navbar-collapse flex-grow-1 text-right  mx-lg-5" id="myNavbar">
                <ul class="navbar-nav ml-auto flex-nowrap ">
                    <li class="nav-item mx-2">
                        <a class="nav-link" [routerLink]="['/registration']">Build My Store</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" [routerLink]="['/faq']">FAQ</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" [routerLink]="['/about-us']">About Us</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" [routerLink]="['/contact-us']">Contact Us</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" [routerLink]="['/stores']">Sign In</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="container-fluid">
        <!-- <div class="progress">
                            <div class="progress-bar {{progressbar}} progress-bar-animated" role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" [style.width]="progress+'%'"></div>
                        </div> -->
        <div class="row text-center d-md-flex py-5 bgroundstyle align-middle ">
            <div class="col">
                <h1 class="text-white">Terms of Service</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="position-relative overflow-hidden p-5 p-md-5 m-md-3">
            <div class="col-md-12 p-lg-5  my-5">
                <p>Last revised: 28 February 2019</p>
                <p>These terms and conditions of use (“Terms of Use”) govern your use of our online interfaces and properties (e.g., websites and mobile applications) owned and controlled by Build-A-Gift Store. (“Company”), including the www.buildagiftstore.com
                    website (collectively, the “Site”). Your compliance with these Terms of Use is a condition to your use of the Site. If you do not agree to be bound by the Terms of Use, promptly exit this Site. Please also consult our Privacy Policy
                    for a description of our privacy practices and policies.</p>
                <p><strong>Binding Arbitration.</strong> These Terms of Use provide that all disputes between you and Company that in any way relate to these Terms of Use or your use of the Site will be resolved by BINDING ARBITRATION. ACCORDINGLY, YOU AGREE
                    TO GIVE UP YOUR RIGHT TO GO TO COURT (INCLUDING IN A CLASS ACTION PROCEEDING) to assert or defend your rights under these Terms of Use (except for matters that may be taken to small claims court). Your rights will be determined by
                    a NEUTRAL ARBITRATOR and NOT a judge or jury and your claims cannot be brought as a class action. Please review the Section below entitled Dispute Resolution; Arbitration Agreement for the details regarding your agreement to arbitrate
                    any disputes with Company.</p>
                <hr>

                <h4>Ownership of the Site</h4>
                <p>All pages within this Site and any material made available for download are the property of Company, or its licensors or suppliers, as applicable. The Site is protected by United States and international copyright and trademark laws. The
                    contents of the Site, including without limitation all data, files, documents, text, photographs, images, audio, and video, and any materials accessed through or made available for use or download through this Site (“Content”) may
                    not be copied, distributed, modified, reproduced, published or used, in whole or in part, except for purposes authorized by these Terms of Use or otherwise approved in writing by Company. You may not frame or utilize framing techniques
                    to enclose, or deep link to, any name, trademarks, service marks, logo, Content or other proprietary information (including images, text, page layout, or form) of Company without our express written consent.</p>
                <hr>

                <h4>Site Access, Security and Restrictions; Passwords</h4>
                <p>You are prohibited from violating or attempting to violate the security of the Site, including, without limitation, (a) accessing data not intended for such user or logging onto a server or an account which the user is not authorized to
                    access; or (b) attempting to probe, scan or test the vulnerability of a system or network or to breach security or authentication measures without proper authorization; or (c) accessing or using the Site or any portion thereof without
                    authorization, in violation of these Terms of Use or in violation of applicable law.</p>
                <p>You may not use any scraper, crawler, spider, robot or other automated means of any kind to access or copy data on the Site, deep-link to any feature or content on the Site, bypass our robot exclusion headers or other measures we may use
                    to prevent or restrict access to the Site.</p>
                <p>Violations of system or network security may result in civil or criminal liability. Company will investigate occurrences that may involve such violations and may involve, and cooperate with, law enforcement authorities in prosecuting users
                    who are involved in such violations. You agree not to use any device, software or routine to interfere or attempt to interfere with the proper working of this Site or any activity being conducted on this Site.</p>
                <p>In the event access to the Site or a portion thereof is limited requiring a user ID and password (“Protected Areas”), you agree to access Protected Areas using only your user ID and password as provided to you by Company. You agree to
                    protect the confidentiality of your user ID and password, and not to share or disclose your user ID or password to any third party. You agree that you are fully responsible for all activity occurring under your user ID. Your access
                    to the Site may be revoked by Company at any time with or without cause. You agree to defend, indemnify and hold Company harmless from and against all third party claims, damages and expenses (including reasonable attorneys’ fees)
                    against or incurred by Company arising out of your breach of these Terms of Use or violation of applicable law, your use or access of the Site, or access by anyone accessing the Site using your user ID and password.</p>
                <hr>

                <h4>Accuracy and Integrity of Information; Colors</h4>
                <p>Although Company attempts to ensure the integrity and accuracy of the Site, it makes no representations, warranties or guarantees whatsoever as to the correctness or accuracy of the Site and Content thereon. It is possible that the Site
                    could include typographical errors, inaccuracies or other errors, and that unauthorized additions, deletions and alterations could be made to the Site by third parties. In the event that an inaccuracy arises, please inform Company
                    so that it can be corrected. Company reserves the right to unilaterally correct any inaccuracies on the Site without notice. Information contained on the Site may be changed or updated without notice.</p>
                <p>Additionally, Company shall have no responsibility or liability for information or Content posted to the Site from any non-Company affiliated third party.</p>
                <p>We have made significant efforts to accurately display the colors of our products that appear on the Site. However, as the actual colors you see will depend on your monitor, we cannot guarantee that your monitor’s display of any color
                    will be accurate.</p>
                <hr>

                <h4>Typographical Errors and Incorrect Pricing</h4>
                <p>In the event a product or service is listed at an incorrect price due to typographical error or error in pricing information received from our suppliers, we shall have the right to refuse or cancel any orders placed for product / service
                    listed at the incorrect price. We shall have the right to refuse or cancel any such orders whether or not the order has been confirmed and your credit or debit card charged. If your credit or debit card has already been charged for
                    the purchase and your order is canceled, we shall promptly issue a credit to your credit or debit card account in the amount of the incorrect price.</p>
                <hr>

                <h4>Order Acceptance</h4>
                <p>We reserve the right, at our sole discretion, to refuse or cancel any order for any reason. Your account may also be restricted or terminated for any reason, at our sole discretion. For your convenience, you will not be charged until your
                    payment method is authorized, the order information is verified for accuracy and your order is shipped. Some situations that may result in your order being canceled include limitations on quantities available for purchase, inaccuracies
                    or errors in product or pricing information, or problems identified by our credit and fraud avoidance department. We may also require additional verifications or information before accepting any order. We will contact you if all or
                    any portion of your order is canceled or if additional information is required to accept your order. If your order is canceled after your credit card (or other payment account) has been charged, we will issue a credit to your credit
                    card (or other applicable payment account) in the amount of the charge.</p>
                <hr>

                <h4>CONSENT TO PROCESSING OF PERSONAL DATA IN UNITED STATES</h4>
                <p>This Site and Services are not intended for and are not directed to residents of the European Union. By using and accessing our Site, users who reside or are located in countries outside of the United States agree and consent to the transfer
                    to and processing of personal information on servers located outside of the country where they reside and that the protection of such information may be different than required under the laws of their residence or location.</p>
                <hr>

                <h4>Quantity Limits and Dealer Sales</h4>
                <p>Company reserves the right, at our sole discretion, to limit the quantity of items purchased per person, per household or per order. These restrictions may be applicable to orders placed by the same account, the same credit card, and also
                    to orders that use the same billing and/or shipping address. We will provide notification to the customer should such limits be applied. Please note that certain orders constitute improper use of Company and its services. We reserve
                    the right, at our sole discretion, to refuse or cancel any order for any reason. Your account may also be restricted or terminated for any reason, at our sole discretion. Company also reserves the right, at our sole discretion, to
                    prohibit sales to dealers or resellers. For purposes of these Terms of Use, reselling shall be defined as purchasing or intending to purchase any product(s) from Company for the purpose of engaging in a commercial sale of that same
                    product(s) with a third party.</p>
                <hr>

                <h4>Online Payments</h4>
                <p>You can purchase products and/or services on the Site. We accept credit and debit cards issued by U.S. banks. If a credit card account is being used for a transaction, Company may obtain preapproval for an amount up to the amount of the
                    payment. If you enroll to make recurring payments automatically, all charges and fees will be billed to the credit card you designate during the setup process. If you want to designate a different credit card or if there is a change
                    in your credit card, you must change your information online. This may temporarily delay your ability to make online payments while we verify your new payment information.</p>
                <p>You represent and warrant that if you are making online payments that (i) any credit card, debit card and bank account information you supply is true, correct and complete, (ii) charges incurred by you will be honored by your credit/debit
                    card company or bank, (iii) you will pay the charges incurred by you in the amounts posted, including any applicable taxes, and (iv) you are the person in whose name the card was issued and you are authorized to make a purchase or
                    other transaction with the relevant credit card and credit card information.</p>
                <hr>

                <h4>Export Policy and Restrictions</h4>
                <p>You acknowledge that the products and Content which are sold or licensed on the Site, which may include technology and software, are subject to the customs and export control laws and regulations of the United States of America and may
                    also be subject to the customs and export laws and regulations of the country in which the products are manufactured and/or received. By purchasing, downloading or using technology or software from the Site, you agree to abide by the
                    applicable laws, rules and regulations – including, but not limited to the Export Administration Act and the Arms Export Control Act – and you represent and warrant that you will not transfer, by electronic transmission or otherwise,
                    the software or technology to a foreign national or a foreign destination in violation of the law. By purchasing any products, you agree that you will not use any products, or provide products to any person, who is forbidden from receiving
                    the product under the Export Administration Regulations or any economic sanctions maintained by the U.S. Department of Treasury. U.S. antiboycott regulations, or U.S. economic sanctions, including the export and antiboycott restrictions
                    found in the Export Administration Regulations or the sanctions regulations administered by the U.S. Office of Foreign Assets Control. You shall indemnify and hold harmless Company from all claims, demands, damages, costs, fines, penalties,
                    attorneys’ fees and all other expenses arising from your failure to comply with this provision and/or applicable export control, antiboycott, or economic sanctions laws and regulations.</p>
                <hr>

                <h4>Links to Other Sites</h4>
                <p>Company makes no representations whatsoever about any other website that you may access through this Site. When you access a non-Company website, please understand that it is independent from Company, and that Company has no control over
                    the content on that website. In addition, a link to a non-Company website does not mean that Company endorses or accepts any responsibility for the content, or the use, of the linked website. It is up to you to take precautions to
                    ensure that whatever you select for your use or download is free of such items as viruses, worms, Trojan horses, and other items of a destructive nature. If you decide to access any of the third party websites linked to this Site,
                    you do this entirely at your own risk.</p>
                <hr>

                <h4>User Generated Content, Reviews, Feedback and other Postings to the Site</h4>
                <p>If you submit, upload or post any comments, ideas, suggestions, information, files, videos, images or other materials to us or our Site (“User Generated Content”), you agree not to provide any User Generated Content that (1) is defamatory,
                    abusive, libelous, unlawful, obscene, threatening, harassing, fraudulent, pornographic, or harmful, or that could encourage criminal or unethical behavior, (2) violates or infringes the privacy, copyright, trademark, trade dress, trade
                    secrets or intellectual property rights of any person or entity, or (3) contains or transmits a virus or any other harmful component. You agree not to contact other Site users through unsolicited e-mail, telephone calls, mailings or
                    any other method of communication. You represent and warrant to Company that you have the legal right and authorization to provide all User Generated Content to Company for the purposes and Company’s use as set forth herein. Company
                    shall have a royalty-free, irrevocable, transferable right and license to use the User Generated Content in whatever manner Company desires, including without limitation, to copy, modify, delete in its entirety, adapt, publish, translate,
                    create derivative works from and/or sell and/or distribute such User Generated Content and/or incorporate such User Generated Content into any form, medium or technology throughout the world. Company is and shall be under no obligation
                    (1) to maintain any User Generated Content in confidence; (2) to pay to you any compensation for any User Generated Content; or (3) to respond to any User Generated Content.</p>
                <p>Company does not regularly review posted User Generated Content, but does reserve the right (but not the obligation) to monitor and edit or remove any User Generated Content submitted to the Site. You grant Company the right to use the
                    name that you submit in connection with any User Generated Content. You agree not to use a false email address, impersonate any person or entity, or otherwise mislead as to the origin of any User Generated Content. You are and shall
                    remain solely responsible for the content of any User Generated Content you make. Company and its affiliates take no responsibility and assume no liability for any User Generated Content submitted by you or any third party.</p>
                <p>You agree to defend, indemnify and hold Company harmless from and against all third party claims, damages and expenses (including reasonable attorneys’ fees) against or incurred by Company arising out of any User Generated Content you
                    post or allow to be posted to the Site.</p>
                <hr>

                <h4>Claims of Copyright Infringement</h4>
                <p>We disclaim any responsibility or liability for copyrighted materials posted on our site. If you believe that your work has been copied in a manner that constitutes copyright infringement, please follow the procedures set forth below.</p>
                <p>Company respects the intellectual property rights of others and expects its users to do the same. In accordance with the Digital Millennium Copyright Act (“DMCA“), we will respond promptly to notices of alleged infringement that are reported
                    to Company’s Designated Copyright Agent, identified below.</p>
                <p><strong>Notices of Alleged Infringement for Content Made Available on the Site</strong></p>
                <p>If you are a copyright owner, authorized to act on behalf of one, or authorized to act under any exclusive right under copyright, please report alleged copyright infringements taking place on or through our Site by sending us a notice
                    (“Notice”) complying with the following requirements.</p>
                <ol>
                    <li>Identify the copyrighted works that you claim have been infringed.</li>
                    <li>Identify the material or link you claim is infringing (or the subject of infringing activity) and that access to which is to be disabled, including at a minimum, if applicable, the URL of the link shown on the Site where such material
                        may be found.</li>
                    <li>Provide your mailing address, telephone number, and, if available, email address.</li>
                    <li>Include both of the following statements in the body of the Notice:
                        <p>“I hereby state that I have a good faith belief that the disputed use of the copyrighted material is not authorized by the copyright owner, its agent, or the law (e.g., as a fair use).””I hereby state that the information in this
                            Notice is accurate and, under penalty of perjury, that I am the owner, or authorized to act on behalf of the owner, of the copyright or of an exclusive right under the copyright that is allegedly infringed.”</p>
                    </li>
                    <li>Provide your full legal name and your electronic or physical signature. Deliver this Notice, with all items completed, to our Copyright Agent:
                        <p>Tricia L. Schulz</p>
                        <p>Foley & Lardner LLP</p>
                        <p>150 E. Gilman Street</p>
                        <p>Madison, WI 53703-1481</p>
                    </li>
                </ol>
                <hr>

                <h4>Disclaimer of Warranties</h4>
                <p>COMPANY DOES NOT WARRANT THAT ACCESS TO OR USE OF THE SITE WILL BE UNINTERRUPTED OR ERROR-FREE OR THAT DEFECTS IN THE SITE WILL BE CORRECTED. THIS SITE, INCLUDING ANY CONTENT OR INFORMATION CONTAINED WITHIN IT OR ANY SITE-RELATED SERVICE,
                    IS PROVIDED “AS IS,” WITH ALL FAULTS, WITH NO REPRESENTATIONS OR WARRANTIES OF ANY KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, QUALITY
                    OF INFORMATION, QUIET ENJOYMENT, AND TITLE/NON-INFRINGEMENT. COMPANY DOES NOT WARRANT THE ACCURACY, COMPLETENESS OR TIMELINESS OF THE INFORMATION OBTAINED THROUGH THE SITE.</p>
                <p>YOU ASSUME TOTAL RESPONSIBILITY AND RISK FOR YOUR USE OF THIS SITE, SITE-RELATED SERVICES, AND LINKED WEBSITES. COMPANY DOES NOT WARRANT THAT FILES AVAILABLE FOR DOWNLOAD WILL BE FREE OF VIRUSES, WORMS, TROJAN HORSES OR OTHER DESTRUCTIVE
                    PROGRAMMING. YOU ARE RESPONSIBLE FOR IMPLEMENTING PROCEDURES SUFFICIENT TO SATISFY YOUR NEEDS FOR DATA BACK UP AND SECURITY.</p>
                <p>WARRANTIES RELATING TO PRODUCTS OR SERVICES OFFERED, SOLD AND DISTRIBUTED BY COMPANY ARE SUBJECT TO SEPARATE WARRANTY TERMS AND CONDITIONS, IF ANY, PROVIDED WITH OR IN CONNECTION WITH THE APPLICABLE PRODUCTS OR SERVICES.</p>
                <hr>

                <h4>Limitation of Liability Regarding Use of Site</h4>
                <p>COMPANY AND ANY THIRD PARTIES MENTIONED ON THIS SITE ARE NEITHER RESPONSIBLE NOR LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, CONSEQUENTIAL, SPECIAL, EXEMPLARY, PUNITIVE, OR OTHER DAMAGES WHATSOEVER (INCLUDING, WITHOUT LIMITATION, THOSE
                    RESULTING FROM LOST PROFITS, LOST DATA, OR BUSINESS INTERRUPTION) ARISING OUT OF OR RELATING IN ANY WAY TO THE SITE, SITE-RELATED SERVICES, CONTENT OR INFORMATION CONTAINED WITHIN THE SITE, AND/OR ANY LINKED WEBSITE, WHETHER BASED
                    ON WARRANTY, CONTRACT, TORT, OR ANY OTHER LEGAL THEORY AND WHETHER OR NOT ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. YOUR SOLE REMEDY FOR DISSATISFACTION WITH THE SITE, SITE-RELATED SERVICES, AND/OR LINKED WEBSITES IS TO STOP USING
                    THE SITE AND/OR THOSE SERVICES. TO THE EXTENT ANY ASPECTS OF THE FOREGOING LIMITATIONS OF LIABILITY ARE NOT ENFORCEABLE, THE MAXIMUM AGGREGATE LIABILITY OF COMPANY TO YOU WITH RESPECT TO YOUR USE OF THIS SITE IS $500 (FIVE HUNDRED
                    DOLLARS).
                </p>
                <hr>

                <h4>Dispute Resolution.</h4>
                <p>In the event of any dispute or claim relating to the Site or these Terms of Use, you agree to resolution of such dispute in the state or federal courts located in and for Madison, Wisconsin in accordance with Wisconsin law.</p>
                <hr>

                <h4>Dispute Resolution; Arbitration Agreement.</h4>
                <p>We will try work in good faith to resolve any issue you have with Site, including products and services ordered or purchased through the Site, if you bring that issue to the attention of our customer service department. However, we realize
                    that there may be rare cases where we may not be able to resolve an issue to a customer’s satisfaction.</p>
                <p>You and Company agree that any dispute, claim or controversy arising out of or relating in any way to these Terms of Use or your use of the Site, including products and services ordered or purchased through the Site, shall be determined
                    by binding arbitration instead of in courts of general jurisdiction. Arbitration is more informal than bringing a lawsuit in court. Arbitration uses a neutral arbitrator instead of a judge or jury, and is subject to very limited review
                    by courts. Arbitration allows for more limited discovery than in court, however, we agree to cooperate with each other to agree to reasonable discovery in light of the issues involved and amount of the claim. Arbitrators can award
                    the same damages and relief that a court can award, but in so doing, the arbitrator shall apply substantive law regarding damages as if the matter had been brought in court, including without limitation, the law on punitive damages
                    as applied by the United States Supreme Court. You agree that, by agreeing to these Terms of Use, the U.S. Federal Arbitration Act governs the interpretation and enforcement of this provision, and that you and Company are each waiving
                    the right to a trial by jury or to participate in a class action. This arbitration provision shall survive termination of these Terms of Use and any other contractual relationship between you and Company.</p>
                <p>If you desire to assert a claim against Company, and you therefore elect to seek arbitration, you must first send to Company, by certified mail, a written notice of your claim (“Notice”). The Notice to Company should be addressed to: Build-A-Gift
                    Store, c/o Identity Works, Inc., Confidential: Attn. President, 920 Industrial Drive, West Salem, WI 54669 (“Notice Address”). If Company desires to assert a claim against you and therefore elects to seek arbitration, it will send,
                    by certified mail, a written Notice to the most recent address we have on file or otherwise in our records for you. A Notice, whether sent by you or by Company, must (a) describe the nature and basis of the claim or dispute; and (b)
                    set forth the specific relief sought (“Demand”). If Company and you do not reach an agreement to resolve the claim within 30 days after the Notice is received, you or Company may commence an arbitration proceeding or file a claim in
                    small claims court. During the arbitration, the amount of any settlement offer made by Company or you shall not be disclosed to the arbitrator. You may download or copy a form Notice and a form to initiate arbitration from the American
                    Arbitration Association at www.adr.org. If you are required to pay a filing fee, after Company receives notice at the Notice Address that you have commenced arbitration, it will promptly reimburse you for your payment of the filing
                    fee, unless your claim is for more than US $10,000. The arbitration will be governed by the Commercial Arbitration Rules and the Supplementary Procedures for Consumer Related Disputes (collectively, “AAA Rules”) of the American Arbitration
                    Association (“AAA”), as modified by these Terms of Use, and will be administered by the AAA. The AAA Rules and Forms are available online at www.adr.org, by calling the AAA at 1-800-778-7879, or by requesting them from us by writing
                    to us at the Notice Address. The arbitrator is bound by the terms of these Terms of Use. All issues are for the arbitrator to decide, including issues relating to the scope and enforceability of these Terms of Use, including this arbitration
                    agreement. Unless Company and you agree otherwise, any arbitration hearings will take place in the county (or parish) of your billing address. (If you reside outside of the United States, any arbitration hearings will take place in
                    your country of residence at a location reasonably convenient to you, but will remain subject to the AAA Rules including the AAA rules regarding the selection of an arbitrator). If your claim is for US $10,000 or less, we agree that
                    you may choose whether the arbitration will be conducted solely on the basis of documents submitted to the arbitrator, through a telephonic hearing, or by an in-person hearing as established by the AAA Rules. If your claim exceeds
                    US $10,000, the right to a hearing will be determined by the AAA Rules. Regardless of the manner in which the arbitration is conducted, the arbitrator shall issue a reasoned written decision sufficient to explain the essential findings
                    and conclusions on which the award is based. If the arbitrator issues you an award that is greater than the value of Company’s last written settlement offer made before an arbitrator was selected (or if Company did not make a settlement
                    offer before an arbitrator was selected), then Company will pay you the amount of the award or US $1,000, whichever is greater. Except as expressly set forth herein, the payment of all filing, administration and arbitrator fees will
                    be governed by the AAA Rules. Each party shall pay for its own costs and attorneys’ fees, if any. However, if any party prevails on a statutory claim that affords the prevailing party attorneys’ fees, or if there is a written agreement
                    providing for payment or recovery attorneys’ fees, the arbitrator may award reasonable fees to the prevailing party, under the standards for fee shifting provided by law.</p>
                <p>YOU AND COMPANY AGREE THAT EACH MAY BRING CLAIMS AGAINST THE OTHER ONLY IN YOUR OR ITS INDIVIDUAL CAPACITY, AND NOT AS A PLAINTIFF OR CLASS MEMBER IN ANY PURPORTED CLASS OR REPRESENTATIVE PROCEEDING. Further, unless both you and Company
                    agree otherwise, the arbitrator may not consolidate more than one person’s claims with your claims, and may not otherwise preside over any form of a representative or class proceeding. The arbitrator may award declaratory or injunctive
                    relief only in favor of the individual party seeking relief and only to the extent necessary to provide relief warranted by that party’s individual claim.</p>
                <p>If this Agreement to Arbitrate provision is found to be unenforceable, then (a) the entirety of this arbitration provision shall be null and void, but the remaining provisions of these Terms of Use shall remain in full force and effect;
                    and (b) exclusive jurisdiction and venue for any claims will be in state or federal courts located in and for Madison, WI.</p>
                <hr>

                <h4>Revisions; General</h4>
                <p>Company reserves the right, in its sole discretion, to terminate your access to all or part of this Site, with or without cause, and with or without notice. In the event that any of the Terms of Use are held by a court or other tribunal
                    of competent jurisdiction to be unenforceable, such provisions shall be limited or eliminated to the minimum extent necessary so that these Terms of Use shall otherwise remain in full force and effect. These Terms of Use constitute
                    the entire agreement between Company and you pertaining to the subject matter hereof. In its sole discretion, Company may from time-to-time revise these Terms of Use by updating this posting. You should, therefore, periodically visit
                    this page to review the current Terms of Use, so you are aware of any such revisions to which you are bound. Your continued use of the Site after revisions to these Terms of Use shall constitute your agreement to the revised Terms
                    of Use. Certain provisions of these Terms of Use may be superseded by expressly designated legal notices or terms located on particular pages within this Site.</p>
                <hr>

            </div>
        </div>
    </div>

    <footer class="page-footer font-small bg-dark text-white font-small pt-4">
        <div class="container-fluid text-center text-md-left">
            <div class="row mx-5 pb-3">
                <div class="col">
                    <h5 class="text-uppercase">About Us</h5>
                    <p>Build-A-Gift Store is backed by <a href="https://idworks.com" target="_blank" class="text-white">Identity Works, Inc.,</a> an industry leader in branded apparel and promotional products since 1996.
                        <a [routerLink]="['/about-us']" class="text-white">Learn More</a></p>
                </div>
                <hr class="clearfix w-100 d-md-none pb-3">
                <div class="col">
                    <h5 class="text-uppercase">Support</h5>
                    <div class="row">
                        <div class="col">
                            <ul class="list-unstyled">
                                <li>
                                    <a class="text-white" href="#!">800-658-9014</a>
                                </li>
                                <li>
                                    <a class="text-white" href="#!">helpmybrand@idworks.com</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col">
                            <ul class="list-unstyled">
                                <li>
                                    <a class="text-white" [routerLink]="['/privacy-policy']">Privacy Policy</a>
                                </li>
                                <li>
                                    <a class="text-white" [routerLink]="['/terms-of-service']">Terms of Service</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="footer-copyright text-center py-3">© 2020 Identity Works, Inc</div>
</body>